<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/public/css/p-style.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@devrandom01" />
    <meta name="twitter:title" content="The Quantum Oracle" />
    <meta name="twitter:description" content="The Quantum Oracle reads entropy from the Bitcoin network and attempts to find a quantum immortality oracle." />
    <meta name="twitter:image" content="https://quantumoracle.io/public/images/qo-background.png" />

</head>

<body>
    <!-- Header Start -->
    <header class="qo-header position-relative z-index-master header">
        <nav class="navbar navbar-expand-md  navbar-light  pb-0 qo-navbar">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height:190px;">
                        <li class="nav-item">
                            <a class="nav-link px-lg-4 active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-4 active" aria-current="page" href="/all">All Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-4" href="https://gitlab.com/devrandom01/quantum-oracle">Code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    {{ content | safe }}
    <!-- Footer Area  -->

    <footer class="footer bg-dark-light">
      <div class="footer bg-dark-light">
        <div class="container">
          <div class="footer-item d-flex align-items-center justify-content-between">
            <ul class="ps-0">
              <h3 class="footer-item-title pb-lg-4 pb-sm-3 pb-1">Build</h3>
              <li>
                <a href="https://gitlab.com/devrandom01/quantum-oracle" class="footer-nav-link pb-2">GitLab Code Repo</a>
              </li>
            </ul>
            <ul class="ps-0">
              <h3 class="footer-item-title pb-lg-4 pb-sm-3 pb-1">Connect</h3>
              <li>
                <a href="https://twitter.com/devrandom01" class="footer-nav-link pb-2">Twitter
                </a>
              </li>
            </ul>
          </div>
          <div class="copy-right-wrap">
            <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
              <a rel="license"
                 href="https://creativecommons.org/publicdomain/zero/1.0/">
                <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
              </a>
              <br />
              To the extent possible under law,
              <span resource="[_:publisher]" rel="dct:publisher">
    <span property="dct:title">devrandom</span></span>
              has waived all copyright and related or neighboring rights to
              <span property="dct:title">Quantum Oracle web site</span>.
            </p>
          </div>
        </div>

      </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
