---
layout: layouts/main.njk
title: Home
---



<!-- Home Page Inner Content Here... -->
<!-- Hero Section  -->
<section class="hero-area position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-5">
                <div class="hero-left-side mx-auto mx-md-0">
                    <h2 class="pb-md-4 pb-2 mb-lg-1 title-lg fw-normal text-md-start text-center"> 
                        <span class="mobile-small-txt">Quantum Oracle</span> 
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro-area bg-dark-light intro">
    <div class="container">
        <h2 class="title-md-light">All Blocks</h2>
        <div class="intro-content">
            {% include "./_all.html" %}
        </div>
    </div>
</section>
