---
layout: layouts/main.njk
title: Quantum Oracle - Home
---


<!-- Home Page Inner Content Here... -->
<!-- Hero Section  -->
<section class="hero-area position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-md-5">
                <div class="hero-left-side mx-auto mx-md-0">
                    <h2 class="pb-md-4 pb-2 mb-lg-1 title-lg fw-normal text-md-start text-center"> 
                        <span class="mobile-small-txt">Quantum Oracle</span> 
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro-area intro">
    <div class="container">
        <h2 class="title-md-light">Introduction</h2>
        <div class="intro-content code">
            {% renderFile "./src/_intro.md" %}
        </div>
        <h2 class="title-md-light">Latest Blocks</h2>
        <div>These are the latest blocks with potentially intelligible messages:</div>
        <div class="intro-content code">
            {% include "./_recent.html" %}
        </div>
    </div>
</section>
