/* Site Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Barlow', sans-serif !important;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;
}
:root {
    /* Color variables */
    --bs-black: #000000;
    --bs-white: #ffffff;
    --bs-primary-dark: #618aff;
    --bs-primary-light: #a3c1ff;
    --bs-dark-light: #151e27;
    --bs-dark: #13181d;
    --bs-secondary-dark: #6b7a8d;
    --bs-secondary-light: #909baa;
    --bs-danger: #F5792C;
    --bs-bitcoin: #f7931b;
}

/* Color Info */
.text-info-dark {
    color: var(--bs-primary-dark) !important;
}

.text-info-light {
    color: var(--bs-primary-light) !important;
}

.text-info-bitcoin {
    color: var(--bs-bitcoin) !important;
}

/* Color Dark */
.text-dark {
    color: var(--bs-dark) !important;
}

.text-dark-light {
    color: var(--bs-dark-light) !important;
}

/* Color Secondary */
.text-secondary-dark {
    color: var(--bs-secondary-dark) !important;
}

.text-secondary-light {
    color: var(--bs-secondary-light) !important;
}

/* Background Color */


/* bg Info */
.bg-info-dark {
    /*background: var(--bs-primary-dark) !important;*/
}

.bg-info-light {
    /*background: var(--bs-primary-light) !important;*/
}

/* Color Dark */
.bg-dark {
    /*background: var(--bs-dark) !important;*/
}

.bg-dark-light {
    /*background: var(--bs-dark-light) !important;*/
}

/* Color Secondary */
.bg-secondary-dark {
    /*background: var(--bs-secondary-dark) !important;*/
}

.bg-secondary-light {
    /*background: var(--bs-secondary-light) !important;*/
}

/* Custom Font weight */
.fw-medium {
    font-weight: 500;
}

/* Custom Font size */
.fs-12 {
    font-size: 12px;
}

/* Custom Padding */
.pb-5 {
    padding-bottom: 30px !important;
}

/* Border Radius */
.rounded-1 {
    border-radius: 4px !important;
}

.rounded-2 {
    border-radius: 8px !important;
}

.rounded-3 {
    border-radius: 12px !important;
}

/* Border Color */
.border-dark {
    border-color: #222E3A !important;
}

.border-dark-light {
    border-color: #47515E !important;
}

/* Button Style Here... */
.btn {
    padding: 13px 36px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
}

.btn-primary {
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
    color: var(--bs-white);
}

.btn-primary:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}
.cta-btn-primary {
    background-color: var(--bs-primary-dark);
    border-color: var(--bs-primary-dark);
    color: var(--bs-white);
    margin-left: 0px;
}

.cta-btn-primary:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}
.logo-primary:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}
.cursor-pointer{
    cursor: pointer;
}
/* Titles */
.title-xl {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    color: var(--bs-white);
}

.title-xl-light {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
    padding-top: 0px;
    color: var(--bs-primary-light);
}
.title-xl-light-padded {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
    padding: 30px 0px;
    color: var(--bs-primary-light);
}


.title-xl-light-intro {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-align: center;
    padding-top: 40px;
    color: var(--bs-primary-light);
}

.title-lg {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.21;
    color: var(--bs-primary-light);
}

.title-md {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: var(--bs-white);
}

.title-md-center {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 10px;
    text-align: center;
    color: var(--bs-white);
}
.title-md-center-intro {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 20px;
    text-align: center;
    color: var(--bs-white);
}

.footer-item {
    max-width: 100%;
    margin: 0 5%;
    padding: 10px 0;
}

.work-with-img {
    max-width: 260px;
}

.work-with-content {
    max-width: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: var(--bs-white);
}

/* Intro Section  style here... */
.intro-content-home {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--bs-white);
}

#Intro {
    padding-top: 140px;
    margin-top: -120px;
}
.container-blog {
    padding-left: 15%;
    padding-right: 15%;
}

.intro-content {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
    color: var(--bs-white);
}

.intro-area {
    padding-top: 120px;
}

.intro-item-home {
    max-width: 100%;
    margin: 0;
    padding: 30px 5%;
}
.intro-item {
    max-width: 100%;
    margin: 0;
    padding: 18px 10%;
}
.title-md-light {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    padding: 18px 5% 10px 5%;
    color: var(--bs-primary-light);
}
.title-md-light:after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #222e3a;
}
.intro-diagram {
    background-color: #fff;
    margin-bottom: 15px;
}

/* Footer Area Style Here.. */
.footer {
    padding: 20px 0 20px 0;
}

.footer-item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    color: var(--bs-white);
}

.copy-right-wrap {
    color: var(--bs-white);
}

.footer-nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--bs-secondary-dark);
    text-decoration: none;
    display: block;
}

.footer-nav-link:hover {
    color: var(--bs-primary-dark);
}

.copy-right {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--bs-secondary-dark);

}

/* Nav Bar Style Here... */
.qo-header{
    z-index: 2;
}
.qo-navbar{
    padding-top: 44px;
}
.qo-navbar .navbar-brand{
    max-width: 350px;
}
.qo-navbar .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-white);
}
.qo-navbar .navbar-nav .nav-link.active, .qo-navbar .navbar-nav .show>.nav-link,
.qo-navbar .navbar-nav .nav-link:focus, .qo-navbar .navbar-nav .nav-link:hover{
    color: var(--bs-white);
}
.nav-item:last-child .nav-link{
    padding-right: 0 !important;

}
.navbar-light .navbar-toggler-icon {
    background-image: url('../images/menu.png');
    width: 18px;
    height: 16px;
}
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
    padding-right: 0;
}
/* Hero Area Style Here... */
.hero-area {
    /* background: var(--bs-dark-light); */
    padding-top: 90px;
    margin-top: -124px;
    z-index: 1;
    /*background: var(--bs-dark-light);*/
}

ul.list-styled {
    list-style: disc;
}

ul.intro-list-styled {
    list-style: circle;
}

body {
    background: url(../images/qo-background.png) no-repeat, black;
    background-size: 100%;
}

.message-line {
    font-family: monospace;
}

.height, .hash, .score {
    color: gray;
}

.score {
    color: green;
}

.message {
    font-weight: bold;
}
