@media (min-width: 1301px) {
    .container {
        width: 70%;
    }
}
/* X Large devices (desktops, less than 1300px) */
@media (max-width: 1300px) {
    .hero-right-side svg{
        width: 100%;
    }
    .hero-right-side svg {
        margin-left: 40px;
    }
    .intro-item-home {
        max-width: 100%;
        margin: 0;
        padding: 30px 5%;
    }
    .container {
        width: 70%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .hero-right-side svg {
        margin-left: 0;
    }
    .qo-navbar .navbar-nav .nav-link{
        font-size: 16px;
    }
    .qo-navbar {
        padding-top: 24px;
    }
    .hero-area{
        margin-top: -104px;
    }
    .qo-navbar .navbar-brand {
        max-width: 220px;
    }
    .features-icon-wrap {
        max-width: 90px;
        height: 75px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .enterprise-area-left-img {
        margin-top: 183px;
    }
    .intro-content {
        padding: 0px 10%;
    }
    .title-xl-light-intro {
        font-size: 54px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .panel-title {
        font-size: 20px;
    }
    .panel-content {
        font-size: 16px;
    }
    .title-lg {
        font-size: 28px;
    }
    .hero-des {
        font-size: 19px;
    }
    .features-blog-items {
        gap: 16px;
    }
    .features-blog-item-des{
        font-size: 16px;
    }
    .hero-area::before {
        width: 479px;
        height: 416px;
    }
    .hero-area{
        padding-top: 150px;
    }
    .features-icon-wrap {
        margin-bottom: 16px;
    }
    .enterprise-area  .border-end{
        border-right: 0 !important;
    }
    .enterprise-area-left-img {
        margin-top: 24px;
        margin-left: 0;
    }
    .enterprise-area-right {
        margin-left: 0;
    }
    .enterprise-item {
        padding: 42px 0 80px 0;
    }
    .title-xl {
        font-size: 48px;
    }
    .title-xl-light {
        font-size: 48px;
    }
    .title-xl-light-intro {
        font-size: 48px;
    }
    .title-xl-light-padded {
        font-size: 48px;
    }
    .title-md-center {
        font-size: 26px;
    }
    .title-md-center-intro {
        font-size: 26px;
    }
    .work-with-img {
        max-width: 170px;
    }
    .work-with-item {
        padding: 30px 0;
    }
    .footer-item {
        padding: 30px 0;
    }
    .getting-started-img {
        max-width: 170px;
    }
    .getting-started-item {
        padding: 30px 0;
    }
    .intro-item {
        padding: 30px 0;
    }
    .intro-item-home {
        padding: 30px 0;
    }
    .CTA-item {
        padding: 30px 0;
    }
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .title-lg {
        font-size: 48px;
    }
    .hero-area::before{
        display: none;
    }
    .hero-right-side{
        max-width: 420px;
        margin: 0 0 140px 0;
        justify-content: center;
        align-items: center;
        margin-top: 45px;
    }
    .hero-des {
        max-width: 282px;
    }
    .features-icon-wrap {
        margin-bottom: 8px;
    }
    .features-item{
        margin-bottom: 20px;
    }
    .features-blog-item-des{
        font-size: 14px;
    }
    .features-item:last-child{
        margin-bottom: 0;
    }
    .features-items {
        margin-top: 24px;
    }
    .features-area {
        padding-bottom: 35px;
        padding-top: 35px;
    }
    .intro-area {
        padding-bottom: 42px;
        padding-top: 20px;
    }
    .btn {
        font-size: 14px;
        width: 25%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 23px;
        line-height: 19px;
        line-height: 21px;
        width: 140px;
    }
    .title-xl {
        font-size: 32px;
    }
    .title-xl-light {
        font-size: 40px;
        padding-top: 15%;
    }
    .title-xl-light-intro {
        font-size: 40px;
    }
    .title-xl-light-padded {
        font-size: 40px;
        padding-top: 10%;
    }
    .title-md {
        font-size: 20px;
    }
    .intro-title-md-light {
        font-size: 20px;
    }
    .work-with-area {
        padding: 45px 0 30px 0;
    }
    .contributors-area {
        padding: 45px 0 30px 0;
    }
    .work-with-img {
        max-width: 100px;
    }
    .work-with-content {
        font-size: 14px;
    }
    .work-with-item {
        padding: 16px 0;
    }
    .footer-item {
        padding: 16px 0;
    }
    .getting-started-area {
        padding: 45px 0 30px 0;
    }
    .getting-started-img {
        max-width: 100px;
    }
    .getting-started-content {
        font-size: 14px;
    }
    .getting-started-CTA {
        font-size: 14px;
    }
    .intro-content-home {
        font-size: 14px;
    }
    .intro-content {
        font-size: 14px;
        padding: 0 3%;
    }
    .getting-started-item {
        padding: 16px 0;
    }
    .intro-item-home {
        padding: 16px 0;
    }
    .intro-item {
        padding: 16px 0;
    }
    .CTA-item {
        padding: 16px 0;
    }
    .qo-header {
        position: fixed !important;
        top: 0;
        width: 100%;
    }
    .hero-area {
        padding-top: 240px;
        padding-bottom: 20px;
    }
    .navbar-nav {
        background: var(--bs-dark);
        padding: 16px;
    }

    .qo-navbar.sticky {
        background: #13181d;
        z-index: 99999999;
        padding-top: 16px;
        padding-bottom: 16px !important;
        transition: 0.4s;
    }
    
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .container {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 10px;
        width: 100%;
    }
    .intro-container {
        margin-left: 5%;
    }
    .footer-item-title {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 8px;
    }
    .footer-nav-link {
        font-size: 13px;
    }
    
    .footer .border-end{
        border-right: 0;
        border-bottom: 1px solid red;
    }
    .features-icon-wrap {
        margin-bottom: 4px;
    }
    .mobile-small-txt {
        font-size: 26px;
        display: block;
        padding-bottom: 8px;
    }
    .hero-left-side {
        max-width: 80%;
        padding-top: 64px;
    }
    .hero-des {
        max-width: 215px;
        font-size: 14px;
        color: #ECEBEB !important;
    }
    .btn {
        font-size: 12px;
        line-height: 21px;
        height: 29px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 13px;
    }
    
    .hero-right-side {
        max-width: 289px;
        margin: 10% 0 10% 0;
        display: inline-block;
        width: 100%;
    }
    .hero-area::before{
        display: block;
    }
    .qo-navbar .navbar-brand {
        max-width: 175px;
    }
    .features-blog-item{
        padding: 12px !important;
    }
    .hero-area::before {
        width: 320px;
    }
    .hero-area {
        padding-bottom: 30px;
        padding-top: 100px;
    }
    .features-des {
        color: #909baa;
        max-width: 205px;
        margin: 0 auto;
        font-size: 14px !important;
        padding: 0 !important;
    }
    .enterprise-item {
        padding: 32px 0 0px 0;
    }
    .title-lg {
        font-size: 26px;
    }
    .enterprise-area .title-lg {
        padding-bottom: 12px !important;
    }

    .enterprise-des .fs-6 {
        font-size: 14px !important;
    }
    .enterprise-area-left-img {
        max-width: 100%;
        margin-top: 0 !important;
        height: auto;
        margin: 0 auto !important;
    }
    .enterprise-area-right-img {
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    .enterprise-area-right{
        margin-bottom: 42px;
    }
    .features-item-content{
        padding-top: 4px;
    }
    .title-xl {
        font-size: 30px;
    }
    .title-xl-light {
        font-size: 30px;
    }
    .title-xl-light-intro {
        font-size: 30px;
    }
    .title-xl-light-padded {
        font-size: 30px;
        padding-top: 10%;
    }
    .title-md-center {
        font-size: 18px;
    }
    .title-md-center-intro {
        font-size: 18px;
    }
    .work-with-area {
        padding: 24px 0 16px 0;
    }
    .contributors-area {
        padding: 24px 0 16px 0;
    }
    .work-with-item {
        padding: 8px 0;
        gap: 16px;
    }
    .footer-item {
        padding: 8px 0;
        gap: 16px;
        margin: 0 2%;
    }
    .work-with-img {
        max-width: 83px;
    }
    .getting-started-area {
        padding: 24px 0 16px 0;
    }
    .getting-started-item {
        padding: 8px 0;
        gap: 16px;
    }
    .intro-item-home {
        padding: 8px 0;
        gap: 16px;
    }
    .intro-item {
        padding: 8px 0;
        gap: 16px;
    }
    .CTA-item {
        padding: 8px 0;
        gap: 16px;
    }
    .getting-started-img {
        max-width: 83px;
    }
    .work-with-area .title-xl {
        padding-bottom: 8px;
    }
    .work-with-area .title-xl-light {
        padding-bottom: 8px;
    }
    .contributors-area .title-xl {
        padding-bottom: 8px;
    }
    .contributors-area .title-xl-light {
        padding-bottom: 8px;
    }
    .work-with-content {
        font-size: 12px;
        max-width: 193px;
    }
    .getting-started-area .title-xl {
        padding-bottom: 15px;
    }
    .getting-started-area .title-xl-light {
        padding-bottom: 8px;
    }
    .getting-started-content {
        font-size: 12px;
        max-width: 193px;
    }
    .getting-started-CTA {
        font-size: 12px;
        padding-top: 10px;
    }
    .intro-content-home {
        font-size: 12px;
        max-width: 75%;
        margin: 10px 10%;
    }
    .intro-content {
        font-size: 12px;
        max-width: 92%;
        margin: 10px 5%;
    }
    .footer {
        padding: 22px 0 40px 0;
    }
    .copy-right {
        font-size: 16px;
        max-width: 265px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.5;
    }
    .copy-right-wrap{
        border-top: 1px solid #493E73;
    }

    .footer .border-end {
        border-right: 0;
        border-bottom: 1px solid red;
        max-width: 170px;
        border-right: 0 !important;
    }

    .footer .footer-item{
        margin-bottom: px !important;
    }
    .footer-inner{
        flex-direction: column;
    }
    .footer .footer-item-1{
        margin-bottom: 0 !important;
    }
    .footer {
        padding: 20px 0px;
    }
    .hero-left-side .title-lg{
        font-size: 22px;
    }
    .enterprise-area-left {
        border-bottom: 1px solid #222E3A;
        padding-bottom: 26px;
    }
}
